In [1]:
import pandas as pd

In [2]:
cities_df = pd.read_csv("cities.csv")

In [3]:
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Busselton,-33.65,115.33,59.00,90,0,16.04,AU,1608418814
1,Hermanus,-34.42,19.23,62.01,90,0,1.01,ZA,1608419152
2,Port Alfred,-33.59,26.89,72.00,96,6,3.00,ZA,1608419176
3,Linares,-35.85,-71.60,72.36,33,36,13.02,CL,1608419311
4,Pevek,69.70,170.31,1.26,90,0,6.13,RU,1608419146

In [7]:
html = cities_df.to_html()

In [9]:
text_file = open("cities.html", "w", encoding='utf-8')
text_file.write(html)
text_file.close()